name: Deploy Nexus Site

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      # AQUI ESTÁ A CORREÇÃO (O flag --no-frozen-lockfile)
      - name: Instalar Dependências
        run: pnpm install --no-frozen-lockfile

      - name: Construir Site (Build)
        run: pnpm run build

      - name: Upload dos arquivos prontos
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Publicar no GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
